*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn


# Visual Studio 2015
.vs/
/StartEFCore/StartEFCore/Migrations/20190824072832_PlayerTeamTablesUpdated.cs
/StartEFCore/StartEFCore/Migrations/20190824072832_PlayerTeamTablesUpdated.Designer.cs
/StartEFCore/StartEFCore/Migrations/20190824074634_DetectChanges.cs
/StartEFCore/StartEFCore/Migrations/20190824074634_DetectChanges.Designer.cs
/StartEFCore/StartEFCore/Migrations/20190824074905_DetectChanges2.cs
/StartEFCore/StartEFCore/Migrations/20190824074905_DetectChanges2.Designer.cs
/StartEFCore/StartEFCore/Migrations/*.*
/DotNetCoreIdentity/src/DotNetCoreIdentity.EF/Migrations
