@using Microsoft.AspNetCore.Identity
@using DotNetCoreIdentity.Domain.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@* Kullanicinin giris yapip yapmadigini kontrol et *@
@if (SignInManager.IsSignedIn(User))
{
    @* Kullanici giris yapmissa ekrana kullanici bilgilerini ve cikis yap butonunu ekle *@
    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <span>Merhaba @User.Identity.Name</span>
            </li>
            <li>
                <button type="submit" class="btn btn-warning navbar-btn navbar-link">
                    Çıkış
                </button>
            </li>
        </ul>
    </form>


}
else
{
    @* Yapmamissa, Login ve Register butonlarini goster *@
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-action="Login" asp-controller="Account" class="btn btn-outline-primary">Giriş</a>
        </li>
        <li>
            <a asp-action="Register" asp-controller="Account" class="btn btn-outline-primary">Kayıt ol</a>
        </li>
    </ul>
}
