
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-danger">Bu sayfaya erişim yetkiniz bulunmamaktadır!</h1>
</div>

