@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Kayıt olmak için formu doldurun.</h1>
<div class="container-fluid">
    <form asp-action="Register" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NationalIdNumber"></label>
            <input asp-for="NationalIdNumber" class="form-control" />
            <span asp-validation-for="NationalIdNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Kayit ol" class="btn btn-primary"/>
        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

