@model DotNetCoreIdentity.Application.BlogServices.Dtos.CreatePostInput

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout.cshtml";

}
<link href="~/lib/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

<h1>Create</h1>

<h4>CreatePostInput</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" id="blog-content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea id="blog-content-2"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="UrlName" class="control-label"></label>
                <input asp-for="UrlName" class="form-control" />
                <span asp-validation-for="UrlName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryDDL" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <input asp-for="CreatedById" type="hidden" />
            <div class="form-group">
                <input type="submit" onclick="submitForm()" id="submit-form-btn" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/froala-editor/js/froala_editor.pkgd.min.js"></script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function submitForm() {
            $("#submit-form-btn").attr("disabled", "disabled");
            $("#create-form").submit();
        }
        new FroalaEditor("#blog-content");
        
    </script>
}
