@model DotNetCoreIdentity.Application.CategoryServices.Dtos.UpdateCategoryInput

@{
    ViewData["Title"] = "Update";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<h4>UpdateCategoryInput</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlName" class="control-label"></label>
                <input asp-for="UrlName" class="form-control" />
                <span asp-validation-for="UrlName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CreatedById" type="hidden" />
                <input asp-for="Id" type="hidden" />
                <input asp-for="ModifiedById" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
